body {
    display: flex;
    flex-direction: column;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

form
 {
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem;
    border: solid;
    border-radius: 1.5rem;
    background-color: rgba(0,0,0,.5);
  color: #fff;
}

.submit {
    border-radius: 25%;
   justify-content: center;
   margin-top: 1rem;
   margin: auto;
}

h2 {
    text-align: center;
}

.formulaire {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 4rem;
    margin-top: 7rem;
    border-radius: 33%;
}

.inputARemplir {
    width: 8rem;
}


.errors {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}