body {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/bgtest.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: fit-content;
    margin: 0 auto;
    padding: 1.5rem;
    border: solid;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.submit {
    border-radius: 25%;
    justify-content: center;
    margin-top: 1rem;
    margin: auto;
}

h1 {
    text-align: center;
    width: fit-content;
    margin: auto;
    color: #fff;
}

h2 {
    text-align: center;
}

.btnInscription {
    margin: auto;

}

.formulaire {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 4rem;
    margin-top: 7rem;
    border-radius: 33%;
}

.inputARemplir {
    width: 8rem;
}


.errors {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.date {
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
    color: #fff;
}

.mainHome {
    width: fit-content;
    margin: 0 auto;
    font-weight: 800;
    color: #fff;
    margin-top: 6rem;
}

a {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 12rem;
    margin: 15px;
    color: #FFFFFF;
}

.a:active,
.a:hover {
    outline: 0;
}

i {
    margin: 5px;
}

@media (min-width: 768px) {
    .a {
        font-size: 24px;
        min-width: 196px;
    }
}

.randompp {
    width: 12rem;
    margin: auto;
}

.addTrajet {
    width: 10rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    background-color: #5B42F3;
}

.profilBtn {
    margin: auto;
}

.infoProfile {
    background-color: #fff;
    border-radius: 33%;
    margin: auto;
    padding: 4rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 4rem;
        height: 4rem;
        align-items: center;
    }

}

.formTrajet {
    width: 60%;
    margin: auto;
}


.infoTrajets {
    width: 75%;
    margin-top: 8rem;
    margin: 0 auto;
    padding: 1.5rem;
    border: solid;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;

    form {
        border: solid white 5px;
        background-color: red;
        
    }

    button {
        align-items: end;
    }

}

.navLinks {

    display: flex;
    justify-content: space-between;
    border: none;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;

}

.mainHome {
    font-weight: 800;
}

.bodyConnect {
    margin-top: 9rem;

    h1 {
        margin-bottom: 2rem;
    }

    .btnInscription {
        margin-bottom: 2rem;
    }
}

.bodyInscription {
    margin-top: 7rem;

    h1 {
        margin-bottom: 2rem;
    }

    a {
        margin: auto;
    }

    form {
        margin-top: 2rem;
    }
}
/* Default styles for larger screens */
.navLinks {
    display: flex;
    justify-content: space-around;
    background-color: #333; /* Adjust as needed */
    padding: 15px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    /* Hide navigation links by default */
    .navLinks a {
        display: none;
    }

    /* Display burger menu icon */
    .burger-menu {
        display: block;
        cursor: pointer;
        color: white; /* Adjust as needed */
        font-size: 20px;
        margin: auto; /* Adjust as needed */
    }

    .navLinks.active a {
        display: block;

    }
}

